<div class="flex flex-col min-h-screen">
  <form [formGroup]="applicationForm" (ngSubmit)="saveApplication()">
    <div class="flex-grow">
      <!-- Your existing content here -->
      <mat-toolbar>
        <button (click)="closePanel()" mat-icon-button><mat-icon>close</mat-icon></button>
      </mat-toolbar>

      <div class="p-6">
        <mat-form-field class="w-full">
          <mat-label>Type</mat-label>
          <mat-select [formControlName]="'permit_type'">
            @for (type of typeList; track type.value) {
              <mat-option [value]="type.value">{{ type.label }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Zones</mat-label>
          <mat-select [formControlName]="'zones'" multiple>
            @for (zone of zoneList; track zone.value) {
              <mat-option [value]="zone.value">{{ zone.label }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input [formControlName]="'active_at'" matStartDate placeholder="Start date" />
            <input [formControlName]="'expired_at'" matEndDate placeholder="End date" />
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY (These dates are required only if the permit type is temporary)</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>
    <footer class="p-4 text-end">
      <button type="button" (click)="closePanel()" class="mx-1" mat-flat-button>Cancel</button>
      <button type="submit" [disabled]="!applicationForm.valid" class="mx-1" mat-flat-button>Save</button>
    </footer>
  </form>
</div>
