<div class="m-4">
  <!-- Loading bar -->
  @if (departmentsLoading) {
    <mat-progress-bar class="absolute inset-x-0 bottom-0 h-0.5" [mode]="'indeterminate'"></mat-progress-bar>
  }
  <mat-table [dataSource]="departments" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <!-- created_at Column -->
    <ng-container matColumnDef="created_at">
      <mat-header-cell *matHeaderCellDef> Created Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.created_at | date: 'medium' }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
  </mat-paginator>
</div>
