<div class="flex-auto flex-col">
  <!-- Header -->
  <div
    class="bg-card bg-white flex flex-col items-start border-b border-gray-300 p-6 sm:flex-row sm:items-center sm:justify-between sm:py-10 md:px-8"
  >
    <!-- Title -->
    <div class="flex items-start space-x-4">
      <div>
        <div class="text-4xl font-extrabold leading-none tracking-tight">My Applications</div>
        <div class="text-secondary mt-0.5 flex items-center font-medium"></div>
      </div>
    </div>
    <div class="flex items-center sm:mt-0">
      <mat-form-field class="w-full bg-white mt-4 mx-4" appearance="fill">
        <mat-label>Filter</mat-label>
        <input (keyup)="applyFilter($event)" matInput />
      </mat-form-field>
      <button (click)="openNewAppPanel()" mat-flat-button [color]="'primary'">
        <span class="ml-2 mr-1">New</span>
      </button>
    </div>
  </div>

  <div class="m-8">
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.user.name }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="permit_type">
        <th mat-header-cell *matHeaderCellDef>Permit Type</th>
        <td mat-cell *matCellDef="let element">{{ element.permit_type | uppercase }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <span
            [class.text-orange-500]="element.status === 'pending'"
            [class.text-green-500]="element.status === 'approved'"
            [class.text-red-500]="element.status === 'rejected'"
            >{{ element.status | uppercase }}</span
          >
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            class="cursor-pointer"
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="openDetailsPanel(element)" mat-menu-item>
              <mat-icon>visibility</mat-icon>
              <span>View</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data</td>
      </tr>
    </table>

    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="pagination.totalResults"
      [pageSize]="pagination.resultsPerPage"
      [pageIndex]="pagination.currentPage - 1"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
