<mat-toolbar class="border-b border-gray-200 flex justify-between">
  <div>
    <button (click)="drawer.toggle()" mat-icon-button aria-label="menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>DPMS</span>
  </div>

  <div>
    <button mat-icon-button aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container class="h-full flex-auto">
  <mat-sidenav
    [mode]="drawerMode"
    [opened]="drawerOpened"
    #drawer
    class="!w-72 dark:bg-gray-900 border-r !rounded-none !border-gray-200"
  >
    <mat-nav-list class="!mt-10 !mx-4">
      <mat-list-item>
        <a matListItemTitle href="...">fdfdf</a>
        <button mat-icon-button matListItemMeta>
          <mat-icon>info</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <a matListItemTitle href="...">fdfdf</a>
        <button mat-icon-button matListItemMeta>
          <mat-icon>info</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <a matListItemTitle href="...">fdfdf</a>
        <button mat-icon-button matListItemMeta>
          <mat-icon>info</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <a matListItemTitle href="...">fdfdf</a>
        <button mat-icon-button matListItemMeta>
          <mat-icon>info</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="!bg-gray-100">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
