<div class="flex min-w-0 flex-auto flex-col items-center sm:justify-center h-screen">
  <div class="w-full px-4 py-8 sm:bg-card sm:w-auto sm:rounded-2xl sm:p-12 sm:shadow">
    <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
      <!-- Title -->
      <div>
        <div class="text-sm leading-tight tracking-tight text-gray-400">DPMS::</div>
        <div class="text-4xl font-extrabold leading-tight tracking-tight text-blue-500">Sign in</div>
      </div>

      <!-- Sign in form -->
      <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">
        <!-- Email field -->
        <mat-form-field class="w-full">
          <mat-label>Email address</mat-label>
          <input id="email" matInput [formControlName]="'email'" />
          @if (signInForm.get('email')?.hasError('required')) {
            <mat-error> Email address is required </mat-error>
          }
          @if (signInForm.get('email')?.hasError('email')) {
            <mat-error> Please enter a valid email address </mat-error>
          }
        </mat-form-field>

        <!-- Password field -->
        <mat-form-field class="w-full">
          <mat-label>Password</mat-label>
          <input id="password" matInput type="password" [formControlName]="'password'" #passwordField />
          <button
            mat-icon-button
            type="button"
            (click)="
              passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')
            "
            matSuffix
          >
            @if (passwordField.type === 'password') {
              <mat-icon>visibility</mat-icon>
            }
            @if (passwordField.type === 'text') {
              <mat-icon>visibility_off</mat-icon>
            }
          </button>
          <mat-error> Password is required </mat-error>
        </mat-form-field>

        <!-- Submit button -->
        <button
          class="fuse-mat-button-large mt-6 w-full"
          mat-flat-button
          [color]="'primary'"
          [disabled]="signInForm.disabled"
          (click)="signIn()"
        >
          @if (!signInForm.disabled) {
            <span> Sign in </span>
          }
          @if (signInForm.disabled) {
            <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
          }
        </button>
      </form>
    </div>
  </div>
</div>
