<mat-toolbar class="flex justify-between !text-amber-50">
  <div class="flex items-center">
    <button (click)="drawer.toggle()" mat-icon-button aria-label="menu icon">
      <mat-icon class="!text-white">menu</mat-icon>
    </button>
    <div>DPMS</div>
  </div>

  <div>
    <button mat-icon-button aria-label="Example icon-button with share icon">
      <mat-icon class="!text-white">logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container class="h-full flex-auto">
  <mat-sidenav
    [mode]="drawerMode"
    [opened]="drawerOpened"
    #drawer
    class="fixed top-0 left-0 z-40 !w-64 h-screen transition-transform translate-x-0 !rounded-none"
  >
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-800">
      <span>Personal Space</span>
      <ul class="space-y-2 font-medium">
        @for (item of menuItemsPersonal; track trackByFn($index, item)) {
          <li class="cursor-pointer" [routerLinkActive]="'bg-gray-500 rounded-lg'" [routerLink]="item.link">
            <div class="flex items-center p-2 rounded-lg text-white hover:bg-gray-700 group">
              <mat-icon class="transition duration-75 text-gray-400 group-hover:text-white">{{ item.icon }}</mat-icon>
              <span class="flex-1 ms-3 whitespace-nowrap">{{ item.title }}</span>
              <span
                class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium rounded-full bg-blue-900 text-blue-300"
                >3</span
              >
            </div>
          </li>
        }
      </ul>
      <span>Security</span>
      <ul class="space-y-2 font-medium">
        @for (item of menuItemsSecurity; track trackByFn($index, item)) {
          <li class="cursor-pointer" [routerLinkActive]="'bg-gray-500 rounded-lg'" [routerLink]="item.link">
            <div class="flex items-center p-2 rounded-lg text-white hover:bg-gray-700 group">
              <mat-icon class="transition duration-75 text-gray-400 group-hover:text-white">{{ item.icon }}</mat-icon>
              <span class="flex-1 ms-3 whitespace-nowrap">{{ item.title }}</span>
            </div>
          </li>
        }
      </ul>
      <span>Admin</span>
      <ul class="space-y-2 font-medium">
        @for (item of menuItemsAdmin; track trackByFn($index, item)) {
          <li class="cursor-pointer" [routerLinkActive]="'bg-gray-500 rounded-lg'" [routerLink]="item.link">
            <div class="flex items-center p-2 rounded-lg text-white hover:bg-gray-700 group">
              <mat-icon class="transition duration-75 text-gray-400 group-hover:text-white">{{ item.icon }}</mat-icon>
              <span class="flex-1 ms-3 whitespace-nowrap">{{ item.title }}</span>
              <span
                class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium rounded-full bg-blue-900 text-blue-300"
                >3</span
              >
            </div>
          </li>
        }
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="!bg-gray-100">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
